In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 数据导入
dataset = pd.read_excel(r"D:\Codes\data\test.xlsx")
dataset.head()

,date,group,requests,gmv,coupon per trip,trips,canceled requests
0,2019-01-01,control,30,7486.620,1.069746,24,1
1,2019-01-02,control,152,38301.575,1.044199,121,8
2,2019-01-03,control,267,67768.425,1.032276,215,14
3,2019-01-04,control,369,94992.900,1.028196,298,19
4,2019-01-05,control,478,123236.875,1.011807,390,24

In [3]:
# 数据清洗
# 空
dataset.isna().sum()

date                 0
group                0
requests             0
gmv                  0
coupon per trip      0
trips                0
canceled requests    0
dtype: int64

In [4]:
# 重
dataset.duplicated().sum()

0

In [5]:
# 无用列
dataset.nunique()

date                 29
group                 2
requests             56
gmv                  58
coupon per trip      58
trips                57
canceled requests    52
dtype: int64

In [6]:
# 异常值
dataset.describe()

,date,requests,gmv,coupon per trip,trips,canceled requests
count,58,58.000000,5.800000e+01,58.000000,58.000000,58.000000
mean,2019-01-15 00:00:00,2046.224138,4.820680e+05,0.848199,1633.551724,146.431034
min,2019-01-01 00:00:00,30.000000,7.382210e+03,0.723737,24.000000,1.000000
25%,2019-01-08 00:00:00,968.750000,2.336387e+05,0.756524,799.250000,45.500000
50%,2019-01-15 00:00:00,2203.500000,5.092359e+05,0.790527,1745.000000,168.000000
75%,2019-01-22 00:00:00,3210.750000,7.495051e+05,0.934330,2553.500000,244.000000
max,2019-01-29 00:00:00,4303.000000,1.005137e+06,1.069746,3426.000000,330.000000
std,NaN,1287.778191,2.984599e+05,0.111335,1019.612227,104.260321

In [7]:
# 类型
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               58 non-null     datetime64[ns]
 1   group              58 non-null     object
 2   requests           58 non-null     int64
 3   gmv                58 non-null     float64
 4   coupon per trip    58 non-null     float64
 5   trips              58 non-null     int64
 6   canceled requests  58 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 3.3+ KB

In [8]:
# 计算ROI
dataset['ROI']=dataset['gmv'] / (dataset['coupon per trip']*dataset['trips'])
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               58 non-null     datetime64[ns]
 1   group              58 non-null     object
 2   requests           58 non-null     int64
 3   gmv                58 non-null     float64
 4   coupon per trip    58 non-null     float64
 5   trips              58 non-null     int64
 6   canceled requests  58 non-null     int64
 7   ROI                58 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 3.8+ KB

In [9]:
# AB测试
import scipy.stats as st
# requests检验
requests_A = dataset[dataset['group'] == 'control']['requests']
requests_B = dataset[dataset['group'] == 'experiment']['requests']
requests_A.shape,requests_B.shape

((29,), (29,))

In [10]:
# 均值差异性验证
st.ttest_rel(requests_A, requests_B)

TtestResult(statistic=1.6436140982479508, pvalue=0.11143970454099936, df=28)

In [11]:
# 方差差异验证
st.levene(requests_A, requests_B)

LeveneResult(statistic=0.014685075667736849, pvalue=0.903980667108546)

In [12]:
# gmv检验
gmv_A = dataset[dataset['group'] == 'control']['gmv']
gmv_B = dataset[dataset['group'] == 'experiment']['gmv']
gmv_A.shape, gmv_B.shape

((29,), (29,))

In [13]:
# 均值差异性验证
st.ttest_rel(gmv_A, gmv_B)

TtestResult(statistic=4.247583846321442, pvalue=0.00021564303983362577, df=28)

In [14]:
# 方差差异性验证
st.levene(gmv_A, gmv_B)

LeveneResult(statistic=0.02865341299111212, pvalue=0.8661917430097603)

In [15]:
# coupon per trip
coupon_per_trip_A = dataset[dataset['group'] == 'control']['coupon per trip']
coupon_per_trip_B = dataset[dataset['group'] == 'experiment']['coupon per trip']

In [16]:
# 均值差异性检验
st.ttest_rel(coupon_per_trip_A, coupon_per_trip_B)

TtestResult(statistic=-3.8845928689393925, pvalue=0.0005721122948813923, df=28)

In [17]:
# 方差差异性检验
st.levene(coupon_per_trip_A, coupon_per_trip_B)

LeveneResult(statistic=0.0092859806424074, pvalue=0.9235756845139632)

In [18]:
# trips
trips_A = dataset[dataset['group'] == 'control']['trips']
trips_B = dataset[dataset['group'] == 'experiment']['trips']

In [19]:
# 均值差异性检验
st.ttest_rel(trips_A, trips_B)

TtestResult(statistic=0.7810895909773122, pvalue=0.44130424519274314, df=28)

In [20]:
# 方差差异性检验
st.levene(trips_A, trips_B)

LeveneResult(statistic=0.01240713608686455, pvalue=0.9117074911836607)

In [21]:
# canceled requests
canceled_requests_A = dataset[dataset['group'] == 'control']['canceled requests']
canceled_requests_B = dataset[dataset['group'] == 'experiment']['canceled requests']

In [22]:
# 均值差异性检验
st.ttest_rel(canceled_requests_A, canceled_requests_B)

TtestResult(statistic=6.70818756901086, pvalue=2.783816041042884e-07, df=28)

In [23]:
# 方差差异性检验
st.levene(canceled_requests_A, canceled_requests_B)

LeveneResult(statistic=0.04130920878658331, pvalue=0.8396789598925986)

In [24]:
# ROI
ROI_A = dataset[dataset['group'] == 'control']['ROI']
ROI_B = dataset[dataset['group'] == 'experiment']['ROI']

In [25]:
# 均值差异性检验
st.ttest_rel(ROI_A, ROI_B)

TtestResult(statistic=10.305504459268173, pvalue=4.93261342734923e-11, df=28)

In [26]:
# 方差差异型检验
st.levene(ROI_A, ROI_B)

LeveneResult(statistic=0.10363884745479335, pvalue=0.7487044961896305)

In [27]:
# 城市运营分析
# 数据导入
citys = pd.read_excel(r"D:\Codes\data\city.xlsx")
citys.head()

,date,hour,requests,trips,supply hours,average minutes of trips,pETA,aETA,utiliz
0,2013-09-01,11,79,55,42.63,20.43,5.51,7.19,0.479240
1,2013-09-01,12,73,41,36.43,15.53,5.48,8.48,0.426297
2,2013-09-01,13,54,50,23.02,17.76,5.07,8.94,0.771503
3,2013-09-02,11,193,170,64.20,31.47,5.31,6.55,0.490187
4,2013-09-02,12,258,210,80.28,38.68,4.94,6.08,0.481814

In [28]:
# 数据清洗
# 类型
citys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      90 non-null     datetime64[ns]
 1   hour                      90 non-null     int64
 2   requests                  90 non-null     int64
 3   trips                     90 non-null     int64
 4   supply hours              90 non-null     float64
 5   average minutes of trips  90 non-null     float64
 6   pETA                      90 non-null     float64
 7   aETA                      90 non-null     float64
 8   utiliz                    90 non-null     float64
dtypes: datetime64[ns](1), float64(5), int64(3)
memory usage: 6.5 KB

In [29]:
# 空
citys.isna().sum()

date                        0
hour                        0
requests                    0
trips                       0
supply hours                0
average minutes of trips    0
pETA                        0
aETA                        0
utiliz                      0
dtype: int64

In [30]:
# 重
citys.duplicated().sum()

0

In [31]:
# 异常值
citys.describe()

,date,hour,requests,trips,supply hours,average minutes of trips,pETA,aETA,utiliz
count,90,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.00000,90.000000
mean,2013-09-15 12:00:00,12.000000,234.411111,149.833333,52.807111,29.051333,5.758556,7.19900,0.558130
min,2013-09-01 00:00:00,11.000000,15.000000,6.000000,11.250000,9.050000,2.430000,4.61000,0.299312
25%,2013-09-08 00:00:00,11.000000,91.250000,50.000000,32.417500,16.025000,5.085000,6.38250,0.427019
50%,2013-09-15 12:00:00,12.000000,234.500000,138.000000,52.570000,27.495000,5.725000,7.06500,0.534818
75%,2013-09-23 00:00:00,13.000000,327.750000,238.000000,67.135000,39.055000,6.475000,8.04750,0.669226
max,2013-09-30 00:00:00,13.000000,558.000000,420.000000,118.930000,73.620000,8.050000,12.06000,0.970345
std,NaN,0.821071,143.187933,105.484889,22.480067,14.343199,1.079037,1.23975,0.159561

In [32]:
# 无用列
citys.nunique()

date                        30
hour                         3
requests                    83
trips                       74
supply hours                89
average minutes of trips    89
pETA                        83
aETA                        83
utiliz                      90
dtype: int64